// ----------------------
// Menu de hamburguesa.
// ----------------------
// Icono del menu
.icon-menu {
    color: $claro;
    font-size: 30px;
    margin-top: 14px;
    margin-left: 10px;
    position: fixed;
    cursor: pointer;
    z-index: 99;
}

// Contenedor del menu
.container-menu {
    color: $claro;
    width: 40%;
    height: 100vh;
    background: url('../images/menu.jpg') no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    // Contenedor de las redes sociales-icon
    .redes-close {
        margin-top: 30px;
        margin-left: 20px;
        font-size: 30px;
        position: relative;
        
        a {
            font-size: 30px;
            margin: 6px;
            color: $claro;
            text-decoration: none;
        }

        // Contenedor de la 'X' para cerrar el menu.
        font {
            position: absolute;
            right: 20px;
            color: white;
            font-size: 30px;
            cursor: pointer;
            transition: all 300ms;

            // (font:hover) La 'X' gira en 180 grados en 300 milisegundos.
            &:hover {
                transform: rotate(180deg);
            }
        }
        .facebook:hover {
            color: #4468B0;
        }
        .linkedin:hover {
            color: #1178B3;
        }
        .github:hover {
            color:$oscuro;
        }
        .whatsapp:hover {
            color: #2CBDA5;
        }
        .slack:hover {
            color: $oscuro;
        }
        .gmail:hover {
            color: #D34A3C;
        }
    }

    // Lista con los item del menu
    ul {
        margin-top: 20px;
        margin-left: 20px;

        // Cada uno de los item del menu
        li {
            list-style: none;
            padding: 10px;
            // Los enlaces del menu

            a {
                color: $claro;
                font-size: 28px;
                text-decoration: none;
                position: relative;
                
                i { color: $oscuro; }
                
                &:before {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    width: 0px;
                    height: 2px;
                    background: $oscuro;
                    transition: all 300ms;
                }
                
                // (a:hover:before) Raya debajo del item, 300 milisegundos.
                &:hover:before {
                    width: 120%;
                }
            }
        }
    }
}

main {
    transition: all 400ms cubic-bezier(1, 0, 0, 1);
}

// Al abrir el menu se aplicara esta clase.
.main-scale {
    transform: scale(.9);
    box-shadow: 0px 0px 40px -15px;
}