@import url('https://fonts.googleapis.com/css?family=Nunito|Raleway|Titillium+Web');
// Colores.
$fondo: #333745;
$rojizo: #F87060;
$claro: #E1E5F2;
$oscuro: #4F6D7A;
$sand: #C1AE7C;

// Fuentes.
$ff1: 'Titillium Web';
$ff2: 'Raleway';
$ff3: 'Nunito';


