@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway|Titillium+Web');
// Colores.
$fondo: #333745;
$rojizo: #F87060;
$claro: #E1E5F2;
$oscuro: #4F6D7A;
$sand: #C1AE7C;

// Fuentes.
$f1: 'Open Sans';
$f2: 'Titillium Web';
$f3: 'Raleway';


